
body {
    background:url('bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 10;
    font-family: Cascadia Mono;
}

#title {
    font-size:48px;
    color:white;
    width:50%;
    text-align:center;
    position:absolute;
    top:25%;
    left:50%;
    transform:translate(-50%,-25%);
    text-shadow: 2px 2px 4px #000000;
    z-index:10
}
#title h2 {
    font-size:16px;
    margin-bottom:0;
}

#input {
    border-radius:32px;
    width:50%;
    padding-top:1%;
    padding-bottom:1%;
    padding-left:1%;
    border:0;
    font-family: Cascadia Mono;
    white-space: pre;
    word-break: break-word; 
    opacity:.8;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

#download, #submit {
    background: white;
    border: 0;
    border-radius:32px;
    padding:5px;
    width:20%;
    font-size:16px;
    font-family: Cascadia Mono;
    box-shadow: 1px 2px #888888;
}

#submit {
    font-size:14px;
    width:15%;
    display:inline-block;
    box-shadow: none;
}

a {
    color: black;
    text-decoration: none; 
}

#error {
    color: red;
    font-size:10px;
    margin-bottom:0;
    position:relative;
}

#adv {
    padding-top:1%;
    color: white;
    font-size:10px;
    text-align:center;
    display:block;
}

#advinput {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius:15px;
    font-size:10px;
    width:50%;
    padding-top:1%;
    padding-bottom:1%;
    padding-left:1%;
    color:black;
    opacity:.8;
    border:0;
    font-family: Cascadia Mono;
}

#input:hover, #advinput:hover {
    opacity: .9;
}

label.myLabel input[type="file"] {
    position:absolute;
    top: -1000px;
}

/***** Example custom styling *****/
.myLabel {
    font-size:12px;
    border-radius: 8px;
    padding: 2px 5px;
    margin: 2px;
    background: rgba(0, 172, 193, .5);
    display: inline-block;
    text-shadow:none;
    margin-bottom:10px;
}

.myLabel:hover {
    cursor:pointer;
}

.myLabel :valid + span {
    color: white;
}


@-webkit-keyframes STAR-MOVE {
	from {
		background-position: 5% 5%
	}
	to { 
		background-position: 1300% 600%
	}
}

#midground {
	background: url("stars.png") repeat 20% 20%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 1;
	
	-webkit-animation-name: STAR-MOVE;
	-webkit-animation-duration: 1000s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}


