<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>Wrind</title>
    <style>
        #download {
            display: {{ dl_visible }};
        }
        #error {
            display: {{ err_visible }}
        }

    </style>
</head>
<body>
    <div id="background"></div>
    <div id="midground"></div>
    <div id="foreground"></div>
    <div id="title">
        <h1>Wrind</h1>
        {% if text_area %}
            <h2>Paste Text</h2>
        {% else %}
            <h2>Input a Website or Language</h2>
        {% endif %}

            {% if text_area %}
            <form action="/getFile" id="search" method="POST">
                <h3 id="error">Invalid Language</h3>
                <input type="file" class="custom-file-input" name="srt">
                <textarea id="advinput" name="text" form="search"></textarea>
                <input type="submit" id="submit" value="Submit">    
            {% else %}
            <form id="search" method="POST">
                <h3 id="error">Invalid Language</h3>
                <input type="text" name="text" id="input" contenteditable="true">
            {% endif %}
            <a id="adv" href="/adv">⚙ Advanced</a>
        </form>
        <button id="download">
            <a href="/getCSV">Download CSV</a>
        </button>
    </div>
</body>
</html>